ftfy
omegaconf
regex
scikit-learn
submitit
termcolor
# torch
torchmetrics
plyfile
ninja
#torchvision

# RoomFormer requirements
opencv-python
numpy
matplotlib
imageio
wandb
scipy
fvcore
cloudpickle
omegaconf
fairscale
timm
shapely
tqdm
pycocotools
descartes

# LitePT requirements
einops
psutil
addict
colorhash